# Maven target directory
target/

# IDE-specific files
.idea/
*.iml
*.iws

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log


# Compiled class files
*.class

# JAR files
*.jar

# Backup files
*.bak
*.swp
*.swo

